.particles {
  position: absolute;

  inset: 0;

  overflow: hidden;

  pointer-events: none;
}

.particles span {
  position: absolute;

  left: var(--x);
  top: var(--y);

  width: var(--size);
  height: var(--size);

  border-radius: 50%;

  background: #d4c4ff;

  box-shadow:
    0 0 10px #a17cff, 0 0 20px rgba(140, 100, 255, 0.6);

  animation:
    particleFloat 5s ease-in-out infinite;

  animation-delay: var(--delay);
}

@keyframes particleFloat {

  0%,
  100% {
    transform: translate3d(0,0,0);

    opacity: .1;
  }

  50% {
    transform: translate3d(
      20px,
      -30px,
      0
    );

    opacity: .8;
  }

}